.header {
    background: #333;
}

.header .inner {
    display: flex;
}

.header h1 img {
    height: 32px;
}

.header .gnb {
    margin-left: auto;
}

.header .gnb>ul>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header .gnb>ul {
    display: flex;
}

.header .utils {
    display: flex;
    margin-left: 80px;
}