#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header.on {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

#header h1 {
    flex: 0 0 240px;
}

#header h1 a {
    display: block;
    height: 48px;
    background: url(../images/logo_w.png) no-repeat left center/contain;
}

#header.on h1 a {
    background: url(../images/logo.png) no-repeat left center/contain;
}


#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .gnb>ul>li>a {
    display: block;
    font-size: 18px;
    color: #fff;
}

#header.on .gnb>ul>li>a {
    color: #333;
}

#header .tel {
    color: #fff;
}

#header.on .tel {
    color: #333;
}

#header .tel strong {
    font-size: 32px;
    font-weight: 900;
    vertical-align: -4px;
    margin-left: 16px;

    text-shadow: 0 0 2px #000;
}

#header.on .tel strong {
    text-shadow: none;
}

#main_intro {
    position: relative;
    background: url(../images/main_visual01.png) no-repeat center center/cover;
}

.side_lnk {
    position: fixed;
    top: 50%;
    right: 80px;
    z-index: 999;
    transform: translate(0, -50%);
}

#main_intro .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}



#main_store {
    background: url(../images/main_store_bg.jpg) no-repeat center center/cover;
}

#main_store .inner {
    display: flex;
    align-items: center;
    gap: 80px;
}

#main_store .inner>* {
    flex: 1;
}

#main_store .left figure {
    border-radius: 50%;
    overflow: hidden;
}



#main_banner {
    position: relative;
    background: url(../images/main_banner01.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

#main_banner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.75;
}

#main_banner .inner {
    position: relative;
}

#main_solution .title {
    margin-bottom: 40px;
    text-align: center;
}

#main_solution .main_solution_slide .itm {
    position: relative;
    max-width: 880px;

    transform: scale(0.9);
    border-radius: 0;
    overflow: hidden;

    transition: 0.4s;

}

#main_solution .main_solution_slide .itm.swiper-slide-active {
    transform: scale(1);
    border-radius: 40px;
}

#main_solution .main_solution_slide .itm .txt {
    position: absolute;
    left: 32px;
    bottom: 40px;

    text-shadow: 0 0 2px #000;
}

#main_solution .main_solution_slide .itm .txt em {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

#main_solution .main_solution_slide .itm .txt strong {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}

#main_solution .main_solution_slide .itm .txt p {
    color: #fff;
}

#main_solution .main_solution_slide .itm figure {
    position: relative;
    filter: grayscale(1);
}

#main_solution .main_solution_slide .itm.swiper-slide-active figure {
    filter: grayscale(0);
}

#main_solution .main_solution_slide .itm figure::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}

#main_promotion {
    position: relative;
}

#main_promotion::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(#000, transparent, #000);
}

#main_promotion .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

#main_promotion .cont button {
    width: 80px;
    height: 80px;
    background: #f57442;
    outline: 16px solid rgba(0, 0, 0, 0.1);

    border-radius: 50%;
}

#main_promotion .cont button svg:nth-child(1) {
    display: inline-block;
}

#main_promotion .cont button svg:nth-child(2) {
    display: none;
}

#main_promotion .cont button.on svg:nth-child(1) {
    display: none;
}

#main_promotion .cont button.on svg:nth-child(2) {
    display: inline-block;
}

.to_top {
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 999;
}