:root {
    --primary-color: #09847f;
    --secondary-color: #B4613D;

    --body-color: #333333;

    --line-color: #dddddd;
    --white-color: #ffffff;
    --background-color: #f7f7f7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--body-color);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
}

#header.on {
    background: var(--white-color);
    border-bottom: 1px solid var(--line-color);
}

#header .hd_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 a {
    display: flex;
}

#header h1 a img {
    height: 4rem;
}

#header.on h1 a img:nth-child(2) {
    filter: invert();
}

#header .gnb>ul {
    display: flex;
    gap: 4rem;
}

#header a {
    white-space: nowrap;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 12rem;
    font-size: 1.8rem;
    color: var(--white-color);

    transition: line-height 0.4s;
}

#header.on .gnb>ul>li>a {
    line-height: 8rem;
    color: var(--body-color);
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;
    top: auto;
    left: 50%;

    padding: 1.6rem 0;

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 0);

    background: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

    transition: 0.4s;
}

#header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -12px);
}

#header .gnb>ul>li:focus-within ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -12px);
}

#header .gnb>ul>li ul a {
    display: block;
    line-height: 4rem;
    padding: 0 4rem;
    text-align: center;
}

/* #header .gnb>ul>li ul li~li a {
    border-top: 1px solid var(--line-color);
} */

#header .utils {
    display: flex;
    gap: 2.4rem;
}

#header .utils a {
    position: relative;
    color: var(--white-color);
}

#header.on .utils a {
    color: var(--body-color);
}

#header .utils a~a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 2px;
    background: var(--white-color);

    transform: translate(0, -50%);
}

#header.on .utils a~a::before {
    background: var(--body-color);
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide {
    border-radius: 0 0 16rem 0;
    /* overflow: hidden; */
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/img_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/img_visual02.jpg) no-repeat center center/cover;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    max-width: 160rem;
    width: 100%;

    transform: translate(-50%, -50%);

    transition: 0.4s;
}

.main_visual:hover .arrows {
    max-width: 141rem;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    width: 8rem;
    height: 8rem;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;

    transform: translate(0, -50%);
}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 40rem;
    width: 100%;

    text-align: center;

}

.main_visual .slg p {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.4rem;

    text-align: center;
}

.main_visual .scroll {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;

    transform: translate(-50%, 0);
}

.main_visual .lnk_wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    max-width: 141rem;
    width: 100%;
}



.main_info {}

.main_info .inner>* {
    padding: 7.2rem;
}

.main_info .inner .left {
    background: var(--background-color) url(../images/img_dokdo.png) no-repeat right bottom;
    border-radius: 3.6rem;
}

.main_info .inner .left p {
    margin-bottom: 8rem;
}

.main_info .inner .left .default_btn {
    height: 6.4rem;
}

.main_info .inner .right .contact {
    display: flex;
    align-items: center;
    margin-top: 3.2rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px dashed var(--line-color);
}

.main_info .inner .right .contact i {
    margin-right: auto;
    padding: 1.6rem;
    background: var(--line-color);
    border-radius: 50%;
}

.main_info .inner .right .contact strong {
    font-size: 4rem;
    font-weight: 600;
    white-space: nowrap;
}

.main_info .inner .right .contact .lnk {
    margin-left: 3.2rem;
    padding: 0 1.6rem;
    height: 4rem;
    line-height: 4rem;
    background: var(--body-color);
    color: var(--white-color);
    font-size: 1.4rem;
    border-radius: 2rem;
    white-space: nowrap;
}

.main_info .inner .right .desc {
    margin-top: 2.4rem;
}

.main_info .inner .right .desc li {
    display: flex;
    gap: 4rem;

    margin-bottom: 0.8rem;
}

.main_info .inner .right .desc li strong {
    flex: 0 0 8rem;
    font-weight: 700;
    position: relative;
    line-height: 1.5;
}

.main_info .inner .right .desc li p {
    flex: 1;
    text-align: justify;
}

.main_customer {}

.main_customer .w_inner {
    display: flex;
}

.main_customer .w_inner .left {
    flex: 1;
    padding-top: 5.6rem;
}

.main_customer .w_inner .left .cont {
    display: flex;
    gap: 8px;

    margin-top: 4rem;
}

.main_customer .w_inner .left .cont button {
    background: var(--body-color);
    font-size: 0;

    width: 5.6rem;
    height: 5.6rem;

    border-radius: 50%;
}

.main_customer .w_inner .left .cont .prev {
    background: var(--body-color) url(../images/arrow-left.svg) no-repeat center center;
}

.main_customer .w_inner .left .cont .next {
    background: var(--body-color) url(../images/arrow-right.svg) no-repeat center center;
}

.main_customer .w_inner .left .cont .play {
    background: var(--body-color) url(../images/play.svg) no-repeat center center/24px;
}

.main_customer .w_inner .left .cont .play.on {
    background: var(--body-color) url(../images/pause.svg) no-repeat center center/24px;
}

.main_customer .w_inner .right {
    position: relative;
    flex: 2;
    /* overflow: hidden; */
    min-width: 0;
}

.main_customer .w_inner .right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 24rem;
    height: 24rem;

    border: 6.4rem solid var(--primary-color);

    border-radius: 50%;

    transform: translate(-50%, -50%);
}

.main_customer .main_customer_slide .itm {
    padding: 4.8rem;
    background: var(--background-color);
    border-radius: 3.2rem;
}

.main_customer .main_customer_slide .itm figure {
    height: 24rem;
    border-radius: 0.8rem;
    overflow: hidden;
    margin-bottom: 2.4rem;
}

.main_customer .main_customer_slide .itm img {
    width: 100%;
}

.main_customer .main_customer_slide .itm em {
    display: inline-block;
    padding: 0.8rem 2.4rem;
    border-radius: 1.6rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    border: 2px solid var(--primary-color);

}

.main_customer .main_customer_slide .itm strong {
    display: block;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_content {
    position: relative;
    z-index: 2;
    padding: 0 0;
    margin-bottom: -120px;
}

.main_content .inner {
    position: relative;
    gap: 16rem;
    padding: 5.6rem 5.6rem;
    background: var(--primary-color);
    border-radius: 4rem;
}

.main_content .inner::after {
    content: "";
    position: absolute;
    top: 4rem;
    bottom: 4rem;
    left: 50%;

    width: 1px;

    background: rgba(255, 255, 255, 0.5);
}

.main_content .inner>* {
    display: flex;
    justify-content: space-between;
}

.main_content .inner figure {
    flex: 0 0 12rem;
}

.main_content .inner h3 {
    color: var(--white-color);
}

.main_content .inner p {
    color: var(--white-color);
}

#footer {
    background: #3a3846;
    border-radius: 16rem 0 0 0;
    overflow: hidden;
}

#footer .footer_top {
    position: relative;
    height: 67rem;
    background: url(../images/bg_banner.jpg) no-repeat center bottom/cover;
}

#footer .footer_top .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 4rem));
}

#footer .footer_top .slg figure {
    width: 24rem;
    margin: 0 auto;
}

#footer .footer_top .slg .txt {
    position: relative;
    margin-top: 2.4rem;
    line-height: 3.2rem;
    font-size: 2.8rem;
    font-weight: 600;
    font-family: "Noto Serif KR", serif;
    white-space: nowrap;
}

#footer .footer_top .slg .txt::after {
    content: attr(data-txt);
    color: var(--white-color);

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    overflow: hidden;

    border-right: 1px solid var(--white-color);

    animation: width 8s steps(24) infinite;
}


@keyframes width {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

#footer .footer_top .dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 64rem;
    width: 100%;
}

#footer .footer_top .dots span {
    position: absolute;


    font-family: "Noto Serif KR", serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white-color);
}

#footer .footer_top .dots span::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    width: 8px;
    height: 8px;
    background: var(--white-color);
    border-radius: 50%;
}

#footer .footer_top .dots span::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translate(-50%, 0) scale(4);
    opacity: 0.25;

    width: 8px;
    height: 8px;
    background: var(--white-color);
    border-radius: 50%;

    animation: dots 4s infinite;
}


@keyframes dots {
    0% {
        transform: translate(-50%, 0) scale(1);
    }

    50% {
        transform: translate(-50%, 0) scale(4);
    }

    100% {
        transform: translate(-50%, 0) scale(1);
    }
}

#footer .footer_top .dots .west {
    top: -3rem;
    left: 2rem;
}

#footer .footer_top .dots .east {
    top: 8rem;
    right: 16rem;
}

#footer .footer_bottom {
    padding: 4rem 0 8rem 0;
    color: var(--white-color);
}

#footer .footer_bottom .inner {
    position: relative;
}

#footer .footer_bottom .info {
    display: flex;
    gap: 4rem;
}

#footer .footer_bottom .info>* {
    position: relative;
}

#footer .footer_bottom .info>*~*::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2rem;

    transform: translate(-50%, -50%);

    width: 2px;
    height: 2px;
    background: var(--line-color);

    border-radius: 50%;
}

#footer .footer_bottom p {
    margin-top: 0.8rem;
}

#footer .footer_bottom .copy {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 300;

    line-height: 1.6rem;

    opacity: 0.5;
}

#footer .footer_bottom .lnk_a {
    width: 16rem;
    height: 16rem;
    background: var(--secondary-color);
}

#footer .footer_bottom .lnk_a::before {
    background: var(--secondary-color);
}