.header .hd_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1410px;
    height: 120px;
}

.header .hd_wrap h1 img {
    height: 40px;
}

.header .gnb {}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 200px;
    background: #fff;
    border-top: 1px solid #ddd;

    display: none;
}

.header .gnb:hover::before {
    display: block;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 120px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>ul {
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    display: none;
}

.header .gnb:hover>ul>li>ul {
    display: block;
}

.header .gnb>ul>li>ul a {
    display: block;
    line-height: 40px;
    padding: 0 24px;
    text-align: center;
}

.header .gnb>ul>li>ul li~li a {
    border-top: 1px solid #ddd;
}