:root {
    --primary-color: #555879;
    --secondary-color: #DED3C4;
    --point-color: #98A1BC;

    --line-color: #dddddd;
    --body-color: #444444;
    --white-color: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--body-color);
    font-size: 1.6rem;
}

.inner {
    max-width: 141rem;
    margin: 0 auto;
}

.flx {
    display: flex;
}

.flx>* {
    flex: 1;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 0 2.4rem;
    height: 4rem;
    border: 1px solid var(--color);
    background: var(--color);
}

.btn.btn_web {
    color: var(--white-color);
}

.btn.btn_photo {
    color: var(--color);
    background: transparent;
}